# Student Data 
This notebook analyizes pass/fail data for a class

In [12]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]

In [17]:
import numpy as np
grades = np.array(data)

print(grades*2)

[100 100  94 194  98   6 106  84  52 148 164 124  74  30 140  54  72  70
  96 104 126 128]

In [6]:
grades.shape

(22,)

In [9]:
grades[5]

3

In [14]:
grades.mean()

49.18181818181818

In [18]:
study_hours = [10.0, 11.5, 9.0, 16.0, 9.25, 1.0, 11.5, 9.0, 8.5, 14.5, 15.5, 13.75, 9.0, 8.0, 15.5, 8.0, 9.0, 6.0, 10.0, 12.0, 12.5, 12.0]

student_data = np.array([study_hours, grades])

In [19]:
student_data[1][0]

50.0

In [23]:
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()

print(f'Average Study Time : {avg_study}\nAverage Grade: {avg_grade}')

Average Study Time : 10.522727272727273
Average Grade: 49.18181818181818

In [ ]:
import pandas as pd

df_students = pd.DataFrame({'Name': ['Dan','Joann','Pedro','Rosie','Ethan','Vicky','Frederic','Jimmie','Rhonda','Giovanni','Francesca','Hamid','Xin','Charle','Hmidou','Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha'],
                            'StudyHours': student_data[0],
                            'Grade': student_data[1]})
df_students